# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/DynamicProgrammingByStriver/DP-01_FibonacciSeries/FibonacciSeries/.vs/FibonacciSeries/v17
/DynamicProgrammingByStriver/DP-01_FibonacciSeries/FibonacciSeries/x64/Release
*.sln
*.vcxproj
*.filters
*.user
/DynamicProgrammingByStriver/DP-03_ FrogJump/FrogJump/.vs/FrogJump/v17
/DynamicProgrammingByStriver/DP-03_ FrogJump/FrogJump/x64/Release
/DynamicProgrammingByStriver/DP-02_ClimbingStairs/ClimbingStairs/.vs/ClimbingStairs/v17
/DynamicProgrammingByStriver/DP-02_ClimbingStairs/ClimbingStairs/x64/Release
/DynamicProgrammingByStriver/DP-04_FrogJumpWithkDistances/FrogJumpWithkDistances/.vs/FrogJumpWithkDistances/v17
/DynamicProgrammingByStriver/DP-04_FrogJumpWithkDistances/FrogJumpWithkDistances/x64
/DynamicProgrammingByStriver/DP-05_MaximumSumOfNon-adjacentElements/HouseRobber/x64
/DynamicProgrammingByStriver/DP-05_MaximumSumOfNon-adjacentElements/HouseRobber/.vs/HouseRobber/v17
/DynamicProgrammingByStriver/DP-06_HouseRobber2/HouseRobber2/.vs/HouseRobber2/v17
/DynamicProgrammingByStriver/DP-06_HouseRobber2/HouseRobber2/x64/Release
/DynamicProgrammingByStriver/DP-07_NinjasTraining/NinjasTraining/.vs/Ninja'sTraining/v17
/DynamicProgrammingByStriver/DP-07_NinjasTraining/NinjasTraining/x64/Release
/RecursionByStriver/13-AllPermutations/AllPermutations/.vs/AllPermutations/v17
/RecursionByStriver/13-AllPermutations/AllPermutations/x64/Release
